{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg",
        "name": "go-sdk-test-rg",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/Generate_Unique_ServiceName?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "mode": "Incremental",
          "parameters": {},
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "outputs": {
              "serviceName": {
                "type": "string",
                "value": "[substring(variables(\u0027serviceNameLong\u0027), 0, 12)]"
              }
            },
            "parameters": {
              "serviceNamePrefix": {
                "defaultValue": "asc-",
                "type": "string"
              }
            },
            "resources": [],
            "variables": {
              "serviceNameLong": "[concat(parameters(\u0027serviceNamePrefix\u0027), uniqueString(resourceGroup().id))]"
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/Generate_Unique_ServiceName/operationStatuses/08585497839622490236?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/Generate_Unique_ServiceName",
        "name": "Generate_Unique_ServiceName",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "2458680980219005756",
          "parameters": {
            "serviceNamePrefix": {
              "type": "String",
              "value": "asc-"
            }
          },
          "mode": "Incremental",
          "provisioningState": "Accepted",
          "timestamp": "2022-05-06T07:42:04.9196988Z",
          "duration": "PT0.00013S",
          "correlationId": "00000000-0000-0000-0000-000000000000",
          "providers": [],
          "dependencies": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/Generate_Unique_ServiceName/operationStatuses/08585497839622490236?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "status": "Running"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/Create_Application_Insight_Instance?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "mode": "Incremental",
          "parameters": {},
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "outputs": {
              "insightsInstrumentationKey": {
                "type": "string",
                "value": "[reference(resourceId(\u0027Microsoft.Insights/components\u0027, parameters(\u0027name\u0027)), \u00272014-04-01\u0027).InstrumentationKey]"
              }
            },
            "parameters": {
              "name": {
                "defaultValue": "asc-api-ai-instance",
                "metadata": {
                  "description": "Name of Application Insights resource."
                },
                "type": "string"
              }
            },
            "resources": [
              {
                "apiVersion": "2014-04-01",
                "location": "eastus",
                "name": "[parameters(\u0027name\u0027)]",
                "properties": {
                  "ApplicationId": "[parameters(\u0027name\u0027)]",
                  "Application_Type": "web",
                  "Flow_Type": "Redfield",
                  "Request_Source": "CustomDeployment"
                },
                "tags": {},
                "type": "microsoft.insights/components"
              }
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/Create_Application_Insight_Instance/operationStatuses/08585497839477073910?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/Create_Application_Insight_Instance",
        "name": "Create_Application_Insight_Instance",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "5741562090474543662",
          "parameters": {
            "name": {
              "type": "String",
              "value": "asc-api-ai-instance"
            }
          },
          "mode": "Incremental",
          "provisioningState": "Accepted",
          "timestamp": "2022-05-06T07:42:18.6105419Z",
          "duration": "PT0.0007596S",
          "correlationId": "00000000-0000-0000-0000-000000000000",
          "providers": [
            {
              "namespace": "microsoft.insights",
              "resourceTypes": [
                {
                  "resourceType": "components",
                  "locations": [
                    "eastus"
                  ]
                }
              ]
            }
          ],
          "dependencies": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-sdk-test-rg/providers/Microsoft.Resources/deployments/Create_Application_Insight_Instance/operationStatuses/08585497839477073910?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "status": "Accepted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.AppPlatform/locations/westus/checkNameAvailability?api-version=2020-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "asc-p2pf7k4v",
        "type": "Microsoft.AppPlatform/Spring"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "nameAvailable": true
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/Spring/asc-p2pf7k4v?api-version=2020-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "westus",
        "properties": {},
        "sku": {
          "name": "S0",
          "tier": "Standard"
        },
        "tags": {
          "key1": "value1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/locations/westus/operationStatus/asc-p2pf7k4v/operationId/00000000-0000-0000-0000-000000000000?api-version=2020-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/locations/westus/operationResults/00000000-0000-0000-0000-000000000000/Spring/asc-p2pf7k4v?api-version=2020-11-01-preview",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "1199",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Creating",
          "version": 3,
          "serviceId": "7c5e57ba572149d688b2c4e1bcdabb73"
        },
        "type": "Microsoft.AppPlatform/Spring",
        "sku": {
          "name": "S0",
          "tier": "Standard"
        },
        "location": "westus",
        "tags": {
          "key1": "value1"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/Spring/asc-p2pf7k4v",
        "name": "asc-p2pf7k4v"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/locations/westus/operationStatus/asc-p2pf7k4v/operationId/00000000-0000-0000-0000-000000000000?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "Retry-After": "10",
        "x-ms-ratelimit-remaining-subscription-reads": "11991",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "id": "subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/locations/westus/operationStatus/asc-p2pf7k4v/operationId/00000000-0000-0000-0000-000000000000",
        "name": "00000000-0000-0000-0000-000000000000",
        "status": "Running",
        "startTime": "2022-05-06T07:42:58.2182881Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/locations/westus/operationStatus/asc-p2pf7k4v/operationId/00000000-0000-0000-0000-000000000000?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11970",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "id": "subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/locations/westus/operationStatus/asc-p2pf7k4v/operationId/00000000-0000-0000-0000-000000000000",
        "name": "00000000-0000-0000-0000-000000000000",
        "status": "Succeeded",
        "startTime": "2022-05-06T07:42:58.2182881Z",
        "endTime": "2022-05-06T07:46:41.7107361Z"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/Spring/asc-p2pf7k4v?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "11999",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "properties": {
          "provisioningState": "Succeeded",
          "version": 3,
          "serviceId": "7c5e57ba572149d688b2c4e1bcdabb73",
          "networkProfile": {
            "outboundIPs": {
              "publicIPs": [
                "23.101.194.71",
                "137.117.21.238"
              ]
            }
          }
        },
        "type": "Microsoft.AppPlatform/Spring",
        "sku": {
          "name": "S0",
          "tier": "Standard"
        },
        "location": "westus",
        "tags": {
          "key1": "value1"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/Spring/asc-p2pf7k4v",
        "name": "asc-p2pf7k4v"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/Spring/asc-p2pf7k4v?api-version=2020-11-01-preview",
      "RequestMethod": "PATCH",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "S0",
          "tier": "Standard"
        },
        "tags": {
          "created-by": "api-test",
          "hello": "world"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/locations/westus/operationStatus/asc-p2pf7k4v/operationId/00000000-0000-0000-0000-000000000000?api-version=2020-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscrip[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/Spring/asc-p2pf7k4v/disableTestEndpoint?api-version=2020-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-writes": "1198",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/Spring/asc-p2pf7k4v/enableTestEndpoint?api-version=2020-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1197",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "primaryKey": "mzjFvfuHbvUqU5CZXiihxNhavzHcKlgajJTmCqkAMz34EvO1joNlqx5QoNyxPUti",
        "secondaryKey": "S8ScTDo5gVWoIWbQrS0mShGZlt0QW7Hy4n7856pl38NLJIRjZAG9Arqhu5LfJrUA",
        "primaryTestEndpoint": "https://primary:mzjFvfuHbvUqU5CZXiihxNhavzHcKlgajJTmCqkAMz34EvO1joNlqx5QoNyxPUti@asc-p2pf7k4v.test.azuremicroservices.io",
        "secondaryTestEndpoint": "https://secondary:S8ScTDo5gVWoIWbQrS0mShGZlt0QW7Hy4n7856pl38NLJIRjZAG9Arqhu5LfJrUA@asc-p2pf7k4v.test.azuremicroservices.io",
        "enabled": true
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/Spring/asc-p2pf7k4v/regenerateTestKey?api-version=2020-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "keyType": "Primary"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "primaryKey": "Ot8tmod16AYNTw8fkv38K0ht55NodJaRkZpMDLnUU2yQBBvh9hf3Rxw96bMc3bey",
        "secondaryKey": "S8ScTDo5gVWoIWbQrS0mShGZlt0QW7Hy4n7856pl38NLJIRjZAG9Arqhu5LfJrUA",
        "primaryTestEndpoint": "https://primary:Ot8tmod16AYNTw8fkv38K0ht55NodJaRkZpMDLnUU2yQBBvh9hf3Rxw96bMc3bey@asc-p2pf7k4v.test.azuremicroservices.io",
        "secondaryTestEndpoint": "https://secondary:S8ScTDo5gVWoIWbQrS0mShGZlt0QW7Hy4n7856pl38NLJIRjZAG9Arqhu5LfJrUA@asc-p2pf7k4v.test.azuremicroservices.io",
        "enabled": true
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/Spring/asc-p2pf7k4v/listTestKeys?api-version=2020-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1195",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "primaryKey": "Ot8tmod16AYNTw8fkv38K0ht55NodJaRkZpMDLnUU2yQBBvh9hf3Rxw96bMc3bey",
        "secondaryKey": "S8ScTDo5gVWoIWbQrS0mShGZlt0QW7Hy4n7856pl38NLJIRjZAG9Arqhu5LfJrUA",
        "primaryTestEndpoint": "https://primary:Ot8tmod16AYNTw8fkv38K0ht55NodJaRkZpMDLnUU2yQBBvh9hf3Rxw96bMc3bey@asc-p2pf7k4v.test.azuremicroservices.io",
        "secondaryTestEndpoint": "https://secondary:S8ScTDo5gVWoIWbQrS0mShGZlt0QW7Hy4n7856pl38NLJIRjZAG9Arqhu5LfJrUA@asc-p2pf7k4v.test.azuremicroservices.io",
        "enabled": true
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/Spring/asc-p2pf7k4v/certificates/asc-certificate?api-version=2020-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "keyVaultCertName": "pfx-cert",
          "vaultUri": "https://integration-test-prod.vault.azure.net/"
        }
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1196",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "properties": {
          "vaultUri": "https://integration-test-prod.vault.azure.net/",
          "keyVaultCertName": "pfx-cert",
          "certVersion": "154c7c56cadb4e55af7ce475ae6f3bb0",
          "thumbprint": "2c67404fa6d6b4a9d887421f2db030cd37442822",
          "issuer": "AME Infra CA 05, DC=AME, DC=GBL",
          "expirationDate": "2023-04-17T22:37:17.000\u002B00:00",
          "activateDate": "2022-04-22T22:37:17.000\u002B00:00",
          "subjectName": "*.azdmss-test.net",
          "dnsNames": [
            "*.azdmss-test.net"
          ]
        },
        "type": "Microsoft.AppPlatform/Spring/certificates",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/Spring/asc-p2pf7k4v/certificates/asc-certificate",
        "name": "asc-certificate"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/Spring/asc-p2pf7k4v/certificates?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/Spring/asc-p2pf7k4v/configServers/validate?api-version=2020-11-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "gitProperty": {
          "label": "master",
          "searchPaths": [
            "/"
          ],
          "uri": "https://github.com/VSChina/asc-config-server-test-public.git"
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/locations/westus/operationStatus/asc-p2pf7k4v/operationId/00000000-0000-0000-0000-000000000000?api-version=2020-11-01-preview",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/locations/westus/operationResults/00000000-0000-0000-0000-000000000000/Spring/asc-p2pf7k4v?api-version=2020-11-01-preview",
        "x-ms-ratelimit-remaining-subscription-writes": "1194",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/locations/westus/operationResults/00000000-0000-0000-0000-000000000000/Spring/asc-p2pf7k4v?api-version=2020-11-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11963",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "isValid": true,
        "details": []
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/Spring/asc-p2pf7k4v/configServers/default?api-version=2020-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "configServer": {
            "gitProperty": {
              "label": "master",
              "searchPaths": [
                "/"
              ],
              "uri": "https://github.com/VSChina/asc-config-server-test-public.git"
            }
          }
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/locations/w[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/Spring/asc-p2pf7k4v/monitoringSettings/default?api-version=2020-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "appInsightsInstrumentationKey": "00000000-0000-0000-0000-000000000000",
          "appInsightsSamplingRate": 50,
          "traceEnabled": true
        }
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/locations/westus/operationStatus/asc-p2pf7k4v/operationId/00000000-0000-0000-0000-000000000000?api-version=2020-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/locations/westus/operationResults/00000000-0000-0000-0000-000000000000/Spring/asc-p2pf7k4v?api-version=2020-11-01-preview",
        "x-ms-ratelimit-remaining-subscription-writes": "1193",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "properties": {
          "appInsightsSamplingRate": 50.0,
          "appInsightsAgentVersions": {
            "java": "3.2.8"
          },
          "provisioningState": "Updating",
          "traceEnabled": true,
          "appInsightsInstrumentationKey": "00000000-0000-0000-0000-000000000000"
        },
        "type": "Microsoft.AppPlatform/Spring/monitoringSettings",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/Spring/asc-p2pf7k4v/monitoringSettings/default",
        "name": "default"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/Spring/asc-p2pf7k4v/apps/app01?api-version=2020-11-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "principalId": "principalid",
          "tenantId": "tenantid",
          "type": "SystemAssigned"
        },
        "location": "westus",
        "properties": {
          "activeDeploymentName": "mydeployment1",
          "enableEndToEndTLS": false,
          "fqdn": "app01.mydomain.com",
          "httpsOnly": false,
          "public": false
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/locations/westus/operationStatus/app01/operationId/00000000-0000-0000-0000-000000000000?api-version=2020-11-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/locations/westus/operationResults/00000000-0000-0000-0000-000000000000/Spring/app01?api-version=2020-11-01-preview",
        "x-ms-ratelimit-remaining-subscription-resource-requests": "1199",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "properties": {
          "public": false,
          "provisioningState": "Creating",
          "httpsOnly": false,
          "enableEndToEndTLS": false
        },
        "type": "Microsoft.AppPlatform/Spring/apps",
        "identity": null,
        "location": "westus",
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-sdk-test-rg/providers/Microsoft.AppPlatform/Spring/asc-p2pf7k4v/apps/app01",
        "name": "app01"
      }
    },
    {
[...]
