//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armmaps

import (
	"context"
	"fmt"
	"net/http"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
)

// MapsClient contains the methods for the Maps group.
// Don't use this type directly, use NewMapsClient() instead.
type MapsClient struct {
	ep string
	pl runtime.Pipeline
}

// NewMapsClient creates a new instance of MapsClient with the specified values.
func NewMapsClient(con *arm.Connection) *MapsClient {
	return &MapsClient{ep: con.Endpoint(), pl: con.NewPipeline(module, version)}
}

// ListOperations - List operations available for the Maps Resource Provider
// If the operation fails it returns the *ErrorResponse error type.
func (client *MapsClient) ListOperations(options *MapsListOperationsOptions) *MapsListOperationsPager {
	return &MapsListOperationsPager{
		client: client,
		requester: func(ctx context.Context) (*policy.Request, error) {
			return client.listOperationsCreateRequest(ctx, options)
		},
		advancer: func(ctx context.Context, resp MapsListOperationsResponse) (*policy.Request, error) {
			return runtime.NewRequest(ctx, http.MethodGet, *resp.MapsOperations.NextLink)
		},
	}
}

// listOperationsCreateRequest creates the ListOperations request.
func (client *MapsClient) listOperationsCreateRequest(ctx context.Context, options *MapsListOperationsOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Maps/operations"
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2021-07-01-preview")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// listOperationsHandleResponse handles the ListOperations response.
func (client *MapsClient) listOperationsHandleResponse(resp *http.Response) (MapsListOperationsResponse, error) {
	result := MapsListOperationsResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.MapsOperations); err != nil {
		return MapsListOperationsResponse{}, err
	}
	return result, nil
}

// listOperationsHandleError handles the ListOperations error response.
func (client *MapsClient) listOperationsHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}
