//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armcustomerinsights

import (
	"context"
	"errors"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
	"net/url"
	"strings"
)

// KpiClient contains the methods for the Kpi group.
// Don't use this type directly, use NewKpiClient() instead.
type KpiClient struct {
	host           string
	subscriptionID string
	pl             runtime.Pipeline
}

// NewKpiClient creates a new instance of KpiClient with the specified values.
// subscriptionID - Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID
// forms part of the URI for every service call.
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewKpiClient(subscriptionID string, credential azcore.TokenCredential, options *arm.ClientOptions) *KpiClient {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := options.Endpoint
	if len(ep) == 0 {
		ep = arm.AzurePublicCloud
	}
	client := &KpiClient{
		subscriptionID: subscriptionID,
		host:           string(ep),
		pl:             armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options),
	}
	return client
}

// BeginCreateOrUpdate - Creates a KPI or updates an existing KPI in the hub.
// If the operation fails it returns an *azcore.ResponseError type.
// resourceGroupName - The name of the resource group.
// hubName - The name of the hub.
// kpiName - The name of the KPI.
// parameters - Parameters supplied to the create/update KPI operation.
// options - KpiClientBeginCreateOrUpdateOptions contains the optional parameters for the KpiClient.BeginCreateOrUpdate method.
func (client *KpiClient) BeginCreateOrUpdate(ctx context.Context, resourceGroupName string, hubName string, kpiName string, parameters KpiResourceFormat, options *KpiClientBeginCreateOrUpdateOptions) (KpiClientCreateOrUpdatePollerResponse, error) {
	resp, err := client.createOrUpdate(ctx, resourceGroupName, hubName, kpiName, parameters, options)
	if err != nil {
		return KpiClientCreateOrUpdatePollerResponse{}, err
	}
	result := KpiClientCreateOrUpdatePollerResponse{}
	pt, err := armruntime.NewPoller("KpiClient.CreateOrUpdate", "", resp, client.pl)
	if err != nil {
		return KpiClientCreateOrUpdatePollerResponse{}, err
	}
	result.Poller = &KpiClientCreateOrUpdatePoller{
		pt: pt,
	}
	return result, nil
}

// CreateOrUpdate - Creates a KPI or updates an existing KPI in the hub.
// If the operation fails it returns an *azcore.ResponseError type.
func (client *KpiClient) createOrUpdate(ctx context.Context, resourceGroupName string, hubName string, kpiName string, parameters KpiResourceFormat, options *KpiClientBeginCreateOrUpdateOptions) (*http.Response, error) {
	req, err := client.createOrUpdateCreateRequest(ctx, resourceGroupName, hubName, kpiName, parameters, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusAccepted) {
		return nil, runtime.NewResponseError(resp)
	}
	return resp, nil
}

// createOrUpdateCreateRequest creates the CreateOrUpdate request.
func (client *KpiClient) createOrUpdateCreateRequest(ctx context.Context, resourceGroupName string, hubName string, kpiName string, parameters KpiResourceFormat, options *KpiClientBeginCreateOrUpdateOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/kpi/{kpiName}"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if hubName == "" {
		return nil, errors.New("parameter hubName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{hubName}", url.PathEscape(hubName))
	if kpiName == "" {
		return nil, errors.New("parameter kpiName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{kpiName}", url.PathEscape(kpiName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPut, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2017-04-26")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, runtime.MarshalAsJSON(req, parameters)
}

// BeginDelete - Deletes a KPI in the hub.
// If the operation fails it returns an *azcore.ResponseError type.
// resourceGroupName - The name of the resource group.
// hubName - The name of the hub.
// kpiName - The name of the KPI.
// options - KpiClientBeginDeleteOptions contains the optional parameters for the KpiClient.BeginDelete method.
func (client *KpiClient) BeginDelete(ctx context.Context, resourceGroupName string, hubName string, kpiName string, options *KpiClientBeginDeleteOptions) (KpiClientDeletePollerResponse, error) {
	resp, err := client.deleteOperation(ctx, resourceGroupName, hubName, kpiName, options)
	if err != nil {
		return KpiClientDeletePollerResponse{}, err
	}
	result := KpiClientDeletePollerResponse{}
	pt, err := armruntime.NewPoller("KpiClient.Delete", "", resp, client.pl)
	if err != nil {
		return KpiClientDeletePollerResponse{}, err
	}
	result.Poller = &KpiClientDeletePoller{
		pt: pt,
	}
	return result, nil
}

// Delete - Deletes a KPI in the hub.
// If the operation fails it returns an *azcore.ResponseError type.
func (client *KpiClient) deleteOperation(ctx context.Context, resourceGroupName string, hubName string, kpiName string, options *KpiClientBeginDeleteOptions) (*http.Response, error) {
	req, err := client.deleteCreateRequest(ctx, resourceGroupName, hubName, kpiName, options)
	if err != nil {
		return nil, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return nil, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK, http.StatusAccepted) {
		return nil, runtime.NewResponseError(resp)
	}
	return resp, nil
}

// deleteCreateRequest creates the Delete request.
func (client *KpiClient) deleteCreateRequest(ctx context.Context, resourceGroupName string, hubName string, kpiName string, options *KpiClientBeginDeleteOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/kpi/{kpiName}"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if hubName == "" {
		return nil, errors.New("parameter hubName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{hubName}", url.PathEscape(hubName))
	if kpiName == "" {
		return nil, errors.New("parameter kpiName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{kpiName}", url.PathEscape(kpiName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodDelete, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2017-04-26")
	req.Raw().URL.RawQuery = reqQP.Encode()
	return req, nil
}

// Get - Gets a KPI in the hub.
// If the operation fails it returns an *azcore.ResponseError type.
// resourceGroupName - The name of the resource group.
// hubName - The name of the hub.
// kpiName - The name of the KPI.
// options - KpiClientGetOptions contains the optional parameters for the KpiClient.Get method.
func (client *KpiClient) Get(ctx context.Context, resourceGroupName string, hubName string, kpiName string, options *KpiClientGetOptions) (KpiClientGetResponse, error) {
	req, err := client.getCreateRequest(ctx, resourceGroupName, hubName, kpiName, options)
	if err != nil {
		return KpiClientGetResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return KpiClientGetResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return KpiClientGetResponse{}, runtime.NewResponseError(resp)
	}
	return client.getHandleResponse(resp)
}

// getCreateRequest creates the Get request.
func (client *KpiClient) getCreateRequest(ctx context.Context, resourceGroupName string, hubName string, kpiName string, options *KpiClientGetOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/kpi/{kpiName}"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if hubName == "" {
		return nil, errors.New("parameter hubName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{hubName}", url.PathEscape(hubName))
	if kpiName == "" {
		return nil, errors.New("parameter kpiName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{kpiName}", url.PathEscape(kpiName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2017-04-26")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// getHandleResponse handles the Get response.
func (client *KpiClient) getHandleResponse(resp *http.Response) (KpiClientGetResponse, error) {
	result := KpiClientGetResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.KpiResourceFormat); err != nil {
		return KpiClientGetResponse{}, err
	}
	return result, nil
}

// ListByHub - Gets all the KPIs in the specified hub.
// If the operation fails it returns an *azcore.ResponseError type.
// resourceGroupName - The name of the resource group.
// hubName - The name of the hub.
// options - KpiClientListByHubOptions contains the optional parameters for the KpiClient.ListByHub method.
func (client *KpiClient) ListByHub(resourceGroupName string, hubName string, options *KpiClientListByHubOptions) *KpiClientListByHubPager {
	return &KpiClientListByHubPager{
		client: client,
		requester: func(ctx context.Context) (*policy.Request, error) {
			return client.listByHubCreateRequest(ctx, resourceGroupName, hubName, options)
		},
		advancer: func(ctx context.Context, resp KpiClientListByHubResponse) (*policy.Request, error) {
			return runtime.NewRequest(ctx, http.MethodGet, *resp.KpiListResult.NextLink)
		},
	}
}

// listByHubCreateRequest creates the ListByHub request.
func (client *KpiClient) listByHubCreateRequest(ctx context.Context, resourceGroupName string, hubName string, options *KpiClientListByHubOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/kpi"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if hubName == "" {
		return nil, errors.New("parameter hubName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{hubName}", url.PathEscape(hubName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2017-04-26")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// listByHubHandleResponse handles the ListByHub response.
func (client *KpiClient) listByHubHandleResponse(resp *http.Response) (KpiClientListByHubResponse, error) {
	result := KpiClientListByHubResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.KpiListResult); err != nil {
		return KpiClientListByHubResponse{}, err
	}
	return result, nil
}

// Reprocess - Reprocesses the Kpi values of the specified KPI.
// If the operation fails it returns an *azcore.ResponseError type.
// resourceGroupName - The name of the resource group.
// hubName - The name of the hub.
// kpiName - The name of the KPI.
// options - KpiClientReprocessOptions contains the optional parameters for the KpiClient.Reprocess method.
func (client *KpiClient) Reprocess(ctx context.Context, resourceGroupName string, hubName string, kpiName string, options *KpiClientReprocessOptions) (KpiClientReprocessResponse, error) {
	req, err := client.reprocessCreateRequest(ctx, resourceGroupName, hubName, kpiName, options)
	if err != nil {
		return KpiClientReprocessResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return KpiClientReprocessResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusAccepted) {
		return KpiClientReprocessResponse{}, runtime.NewResponseError(resp)
	}
	return KpiClientReprocessResponse{}, nil
}

// reprocessCreateRequest creates the Reprocess request.
func (client *KpiClient) reprocessCreateRequest(ctx context.Context, resourceGroupName string, hubName string, kpiName string, options *KpiClientReprocessOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CustomerInsights/hubs/{hubName}/kpi/{kpiName}/reprocess"
	if resourceGroupName == "" {
		return nil, errors.New("parameter resourceGroupName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{resourceGroupName}", url.PathEscape(resourceGroupName))
	if hubName == "" {
		return nil, errors.New("parameter hubName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{hubName}", url.PathEscape(hubName))
	if kpiName == "" {
		return nil, errors.New("parameter kpiName cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{kpiName}", url.PathEscape(kpiName))
	if client.subscriptionID == "" {
		return nil, errors.New("parameter client.subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(client.subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2017-04-26")
	req.Raw().URL.RawQuery = reqQP.Encode()
	return req, nil
}
