//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armsubscription

import (
	"context"
	"errors"
	"fmt"
	"net/http"
	"net/url"
	"strings"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
)

// SubscriptionClient contains the methods for the Subscription group.
// Don't use this type directly, use NewSubscriptionClient() instead.
type SubscriptionClient struct {
	ep string
	pl runtime.Pipeline
}

// NewSubscriptionClient creates a new instance of SubscriptionClient with the specified values.
func NewSubscriptionClient(con *arm.Connection) *SubscriptionClient {
	return &SubscriptionClient{ep: con.Endpoint(), pl: con.NewPipeline(module, version)}
}

// Cancel - The operation to cancel a subscription
// If the operation fails it returns the *ErrorResponse error type.
func (client *SubscriptionClient) Cancel(ctx context.Context, subscriptionID string, options *SubscriptionCancelOptions) (SubscriptionCancelResponse, error) {
	req, err := client.cancelCreateRequest(ctx, subscriptionID, options)
	if err != nil {
		return SubscriptionCancelResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return SubscriptionCancelResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return SubscriptionCancelResponse{}, client.cancelHandleError(resp)
	}
	return client.cancelHandleResponse(resp)
}

// cancelCreateRequest creates the Cancel request.
func (client *SubscriptionClient) cancelCreateRequest(ctx context.Context, subscriptionID string, options *SubscriptionCancelOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Subscription/cancel"
	if subscriptionID == "" {
		return nil, errors.New("parameter subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2020-09-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// cancelHandleResponse handles the Cancel response.
func (client *SubscriptionClient) cancelHandleResponse(resp *http.Response) (SubscriptionCancelResponse, error) {
	result := SubscriptionCancelResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.CanceledSubscriptionID); err != nil {
		return SubscriptionCancelResponse{}, err
	}
	return result, nil
}

// cancelHandleError handles the Cancel error response.
func (client *SubscriptionClient) cancelHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// Enable - The operation to enable a subscription
// If the operation fails it returns the *ErrorResponse error type.
func (client *SubscriptionClient) Enable(ctx context.Context, subscriptionID string, options *SubscriptionEnableOptions) (SubscriptionEnableResponse, error) {
	req, err := client.enableCreateRequest(ctx, subscriptionID, options)
	if err != nil {
		return SubscriptionEnableResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return SubscriptionEnableResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return SubscriptionEnableResponse{}, client.enableHandleError(resp)
	}
	return client.enableHandleResponse(resp)
}

// enableCreateRequest creates the Enable request.
func (client *SubscriptionClient) enableCreateRequest(ctx context.Context, subscriptionID string, options *SubscriptionEnableOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Subscription/enable"
	if subscriptionID == "" {
		return nil, errors.New("parameter subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2020-09-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// enableHandleResponse handles the Enable response.
func (client *SubscriptionClient) enableHandleResponse(resp *http.Response) (SubscriptionEnableResponse, error) {
	result := SubscriptionEnableResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.EnabledSubscriptionID); err != nil {
		return SubscriptionEnableResponse{}, err
	}
	return result, nil
}

// enableHandleError handles the Enable error response.
func (client *SubscriptionClient) enableHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}

// Rename - The operation to rename a subscription
// If the operation fails it returns the *ErrorResponse error type.
func (client *SubscriptionClient) Rename(ctx context.Context, subscriptionID string, body SubscriptionName, options *SubscriptionRenameOptions) (SubscriptionRenameResponse, error) {
	req, err := client.renameCreateRequest(ctx, subscriptionID, body, options)
	if err != nil {
		return SubscriptionRenameResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return SubscriptionRenameResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return SubscriptionRenameResponse{}, client.renameHandleError(resp)
	}
	return client.renameHandleResponse(resp)
}

// renameCreateRequest creates the Rename request.
func (client *SubscriptionClient) renameCreateRequest(ctx context.Context, subscriptionID string, body SubscriptionName, options *SubscriptionRenameOptions) (*policy.Request, error) {
	urlPath := "/subscriptions/{subscriptionId}/providers/Microsoft.Subscription/rename"
	if subscriptionID == "" {
		return nil, errors.New("parameter subscriptionID cannot be empty")
	}
	urlPath = strings.ReplaceAll(urlPath, "{subscriptionId}", url.PathEscape(subscriptionID))
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2020-09-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, runtime.MarshalAsJSON(req, body)
}

// renameHandleResponse handles the Rename response.
func (client *SubscriptionClient) renameHandleResponse(resp *http.Response) (SubscriptionRenameResponse, error) {
	result := SubscriptionRenameResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.RenamedSubscriptionID); err != nil {
		return SubscriptionRenameResponse{}, err
	}
	return result, nil
}

// renameHandleError handles the Rename error response.
func (client *SubscriptionClient) renameHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}
