{
  "Entries": [
    {
      "RequestUri": "https://login.microsoftonline.com/common/discovery/instance?api-version=1.1\u0026authorization_endpoint=https%3A%2F%2Flogin.microsoftonline.com%2F00000000-0000-0000-0000-000000000000%2Foauth2%2Fv2.0%2Fauthorize",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "tenant_discovery_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
        "api-version": "1.1",
        "metadata": [
          {
            "preferred_network": "login.microsoftonline.com",
            "preferred_cache": "login.windows.net",
            "aliases": [
              "login.microsoftonline.com",
              "login.windows.net",
              "login.microsoft.com",
              "sts.windows.net"
            ]
          },
          {
            "preferred_network": "login.partner.microsoftonline.cn",
            "preferred_cache": "login.partner.microsoftonline.cn",
            "aliases": [
              "login.partner.microsoftonline.cn",
              "login.chinacloudapi.cn"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.de",
            "preferred_cache": "login.microsoftonline.de",
            "aliases": [
              "login.microsoftonline.de"
            ]
          },
          {
            "preferred_network": "login.microsoftonline.us",
            "preferred_cache": "login.microsoftonline.us",
            "aliases": [
              "login.microsoftonline.us",
              "login.usgovcloudapi.net"
            ]
          },
          {
            "preferred_network": "login-us.microsoftonline.com",
            "preferred_cache": "login-us.microsoftonline.com",
            "aliases": [
              "login-us.microsoftonline.com"
            ]
          }
        ]
      }
    },
    {
      "RequestUri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0/.well-known/openid-configuration",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "token_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/token",
        "token_endpoint_auth_methods_supported": [
          "client_secret_post",
          "private_key_jwt",
          "client_secret_basic"
        ],
        "jwks_uri": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/discovery/v2.0/keys",
        "response_modes_supported": [
          "query",
          "fragment",
          "form_post"
        ],
        "subject_types_supported": [
          "pairwise"
        ],
        "id_token_signing_alg_values_supported": [
          "RS256"
        ],
        "response_types_supported": [
          "code",
          "id_token",
          "code id_token",
          "id_token token"
        ],
        "scopes_supported": [
          "openid",
          "profile",
          "email",
          "offline_access"
        ],
        "issuer": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/v2.0",
        "request_uri_parameter_supported": false,
        "userinfo_endpoint": "https://graph.microsoft.com/oidc/userinfo",
        "authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/authorize",
        "device_authorization_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/devicecode",
        "http_logout_supported": true,
        "frontchannel_logout_supported": true,
        "end_session_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/oauth2/v2.0/logout",
        "claims_supported": [
          "sub",
          "iss",
          "cloud_instance_name",
          "cloud_instance_host_name",
          "cloud_graph_host_name",
          "msgraph_host",
          "aud",
          "exp",
          "iat",
          "auth_time",
          "acr",
          "nonce",
          "preferred_username",
          "name",
          "tid",
          "ver",
          "at_hash",
          "c_hash",
          "email"
        ],
        "kerberos_endpoint": "https://login.microsoftonline.com/00000000-0000-0000-0000-000000000000/kerberos",
        "tenant_region_scope": "WW",
        "cloud_instance_name": "microsoftonline.com",
        "cloud_graph_host_name": "graph.windows.net",
        "msgraph_host": "graph.microsoft.com",
        "rbac_url": "https://pas.windows.net"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-scenario-test-recording?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "location": "eastus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-scenario-test-recording",
        "name": "go-scenario-test-recording",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "eastus",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-scenario-test-recording/providers/Microsoft.Resources/deployments/Generate_Unique_Name?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "mode": "Incremental",
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "outputs": {
              "resourceName": {
                "type": "string",
                "value": "[variables(\u0027name\u0027).value]"
              }
            },
            "resources": [],
            "variables": {
              "name": {
                "metadata": {
                  "description": "Name of the SignalR service."
                },
                "type": "string",
                "value": "[concat(\u0027sw\u0027,uniqueString(resourceGroup().id))]"
              }
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-scenario-test-recording/providers/Microsoft.Resources/deployments/Generate_Unique_Name/operationStatuses/08585571204305317010?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-scenario-test-recording/providers/Microsoft.Resources/deployments/Generate_Unique_Name",
        "name": "Generate_Unique_Name",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "5364899239189189664",
          "mode": "Incremental",
          "provisioningState": "Accepted",
          "timestamp": "2022-02-10T09:47:37.1021383Z",
          "duration": "PT0.0008366S",
          "correlationId": "00000000-0000-0000-0000-000000000000",
          "providers": [],
          "dependencies": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-scenario-test-recording/providers/Microsoft.Resources/deployments/Generate_Unique_Name/operationStatuses/08585571204305317010?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "status": "Running"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-scenario-test-recording/providers/Microsoft.Resources/deployments/Generate_Unique_Name?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-scenario-test-recording/providers/Microsoft.Resources/deployments/Generate_Unique_Name",
        "name": "Generate_Unique_Name",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "5364899239189189664",
          "mode": "Incremental",
          "provisioningState": "Succeeded",
          "timestamp": "2022-02-10T09:47:39.0423211Z",
          "duration": "PT1.9410194S",
          "correlationId": "00000000-0000-0000-0000-000000000000",
          "providers": [],
          "dependencies": [],
          "outputs": {
            "resourceName": {
              "type": "String",
              "value": "sw3iqp4fus2p244"
            }
          },
          "outputResources": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SignalRService/locations/eastus/checkNameAvailability?api-version=2021-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "name": "sw3iqp4fus2p244",
        "type": "Microsoft.SignalRService/SignalR"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "nameAvailable": true
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-scenario-test-recording/providers/Microsoft.SignalRService/signalR/sw3iqp4fus2p244?api-version=2021-06-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "identity": {
          "type": "SystemAssigned"
        },
        "kind": "SignalR",
        "location": "eastus",
        "properties": {
          "cors": {
            "allowedOrigins": [
              "https://foo.com",
              "https://bar.com"
            ]
          },
          "disableAadAuth": false,
          "disableLocalAuth": false,
          "features": [
            {
              "flag": "ServiceMode",
              "properties": {},
              "value": "Serverless"
            },
            {
              "flag": "EnableConnectivityLogs",
              "properties": {},
              "value": "True"
            },
            {
              "flag": "EnableMessagingLogs",
              "properties": {},
              "value": "False"
            },
            {
              "flag": "EnableLiveTrace",
              "properties": {},
              "value": "False"
            }
          ],
          "networkACLs": {
            "defaultAction": "Deny",
            "privateEndpoints": [
              {
                "allow": [
                  "ServerConnection"
                ],
                "name": "sw3iqp4fus2p244.00000000-0000-0000-0000-000000000000"
              }
            ],
            "publicNetwork": {
              "allow": [
                "ClientConnection"
              ]
            }
          },
          "publicNetworkAccess": "Enabled",
          "tls": {
            "clientCertEnabled": false
          },
          "upstream": {
            "templates": [
              {
                "urlTemplate": "https://example.com/chat/api/connect",
                "auth": {
                  "managedIdentity": {
                    "resource": "api://example"
                  },
                  "type": "ManagedIdentity"
                },
                "categoryPattern": "*",
                "eventPattern": "connect,disconnect",
                "hubPattern": "*"
              }
            ]
          }
        },
        "sku": {
          "name": "Standard_S1",
          "capacity": 1,
          "tier": "Standard"
        },
        "tags": {
          "key1": "value1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-scenario-test-recording/providers/Microsoft.SignalRService/SignalR/sw3iqp4fus2p244/operationStatuses/00000000-0000-0000-0000-000000000000?api-version=2021-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-scenario-test-recording/providers/Microsoft.SignalRService/SignalR/sw3iqp4fus2p244/operationResults/00000000-0000-0000-0000-000000000000?api-version=2021-06-01-preview",
        "x-ms-ratelimit-remaining-subscription-writes": "1197",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_S1",
          "tier": "Standard",
          "size": "S1",
          "capacity": 1
        },
        "properties": {
          "provisioningState": "Creating",
          "externalIP": null,
          "hostName": "sw3iqp4fus2p244.service.signalr.net",
          "publicPort": 443,
          "serverPort": 443,
          "version": "1.0-preview",
          "privateEndpointConnections": [],
          "sharedPrivateLinkResources": [],
          "tls": {
            "clientCertEnabled": false
          },
          "hostNamePrefix": "sw3iqp4fus2p244",
          "features": [
            {
              "flag": "ServiceMode",
              "value": "Serverless",
              "properties": {}
            },
            {
              "flag": "EnableConnectivityLogs",
              "value": "True",
              "properties": {}
            },
            {
              "flag": "EnableMessagingLogs",
              "value": "False",
              "properties": {}
            },
            {
              "flag": "EnableLiveTrace",
              "value": "False",
              "properties": {}
            }
          ],
          "cors": {
            "allowedOrigins": [
              "https://foo.com",
              "https://bar.com"
            ]
          },
          "upstream": {
            "templates": [
              {
                "hubPattern": "*",
                "eventPattern": "connect,disconnect",
                "categoryPattern": "*",
                "urlTemplate": "https://example.com/chat/api/connect",
                "auth": {
                  "type": "ManagedIdentity",
                  "managedIdentity": {
                    "resource": "api://example"
                  }
                }
              }
            ]
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [
                "ClientConnection"
              ],
              "deny": null
            },
            "privateEndpoints": []
          },
          "publicNetworkAccess": "Enabled",
          "disableLocalAuth": false,
          "disableAadAuth": false
        },
        "kind": "SignalR",
        "identity": {
          "type": "SystemAssigned",
          "principalId": "00000000-0000-0000-0000-000000000000",
          "tenantId": "00000000-0000-0000-0000-000000000000"
        },
        "systemData": {
          "createdBy": "00000000-0000-0000-0000-000000000000",
          "createdByType": "Application",
          "createdAt": "2022-02-10T09:47:57.2682978Z",
          "lastModifiedBy": "00000000-0000-0000-0000-000000000000",
          "lastModifiedByType": "Application",
          "lastModifiedAt": "2022-02-10T09:47:57.2682978Z"
        },
        "location": "eastus",
        "tags": {
          "key1": "value1"
        },
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-scenario-test-recording/providers/Microsoft.SignalRService/SignalR/sw3iqp4fus2p244",
        "name": "sw3iqp4fus2p244",
        "type": "Microsoft.SignalRService/SignalR"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-scenario-test-recording/providers/Microsoft.SignalRService/SignalR/sw3iqp4fus2p244/operationStatuses/00000000-0000-0000-0000-000000000000?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-scenario-test-recording/providers/Microsoft.SignalRService/SignalR/sw3iqp4fus2p244/operationStatuses/00000000-0000-0000-0000-000000000000",
        "name": "00000000-0000-0000-0000-000000000000",
        "status": "Running",
        "startTime": "2022-02-10T09:48:00.6506199Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-scenario-test-recording/providers/Microsoft.SignalRService/SignalR/sw3iqp4fus2p244/operationStatuses/00000000-0000-0000-0000-000000000000?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11988",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "id": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-scenario-test-recording/providers/Microsoft.SignalRService/SignalR/sw3iqp4fus2p244/operationStatuses/00000000-0000-0000-0000-000000000000",
        "name": "00000000-0000-0000-0000-000000000000",
        "status": "Succeeded",
        "startTime": "2022-02-10T09:48:00.6506199Z",
        "endTime": "2022-02-10T09:49:22.6552226Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-scenario-test-recording/providers/Microsoft.SignalRService/signalR/sw3iqp4fus2p244/listKeys?api-version=2021-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "primaryKey": "RKFe04RQIMVqpe1bcLiN4seazxZH88bx6kMW0hM0\u002BTg=",
        "secondaryKey": "/CuXiX\u002BNOZTdiOAT2P4uXO0UlP\u002BqUxAVpnkaa3qr0H8=",
        "primaryConnectionString": "Endpoint=https://sw3iqp4fus2p244.service.signalr.net;AccessKey=RKFe04RQIMVqpe1bcLiN4seazxZH88bx6kMW0hM0\u002BTg=;Version=1.0;",
        "secondaryConnectionString": "Endpoint=https://sw3iqp4fus2p244.service.signalr.net;AccessKey=/CuXiX\u002BNOZTdiOAT2P4uXO0UlP\u002BqUxAVpnkaa3qr0H8=;Version=1.0;"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-scenario-test-recording/providers/Microsoft.SignalRService/signalR/sw3iqp4fus2p244/regenerateKey?api-version=2021-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "keyType": "Primary"
      },
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-scenario-test-recording/providers/Microsoft.SignalRService/SignalR/sw3iqp4fus2p244/operationStatuses/00000000-0000-0000-0000-000000000000?api-version=2021-06-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-scenario-test-recording/providers/Microsoft.SignalRService/SignalR/sw3iqp4fus2p244/operationResults/00000000-0000-0000-0000-000000000000?api-version=2021-06-01-preview",
        "x-ms-ratelimit-remaining-subscription-writes": "1197",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "primaryKey": "4UwyRMdLTVDYt9coj7h4ruEiuEElRHx0PSlnkZRaP7c=",
        "secondaryKey": "/CuXiX\u002BNOZTdiOAT2P4uXO0UlP\u002BqUxAVpnkaa3qr0H8=",
        "primaryConnectionString": "Endpoint=https://sw3iqp4fus2p244.service.signalr.net;AccessKey=4UwyRMdLTVDYt9coj7h4ruEiuEElRHx0PSlnkZRaP7c=;Version=1.0;",
        "secondaryConnectionString": "Endpoint=https://sw3iqp4fus2p244.service.signalr.net;AccessKey=/CuXiX\u002BNOZTdiOAT2P4uXO0UlP\u002BqUxAVpnkaa3qr0H8=;Version=1.0;"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-scenario-test-recording/providers/Microsoft.SignalRService/signalR/sw3iqp4fus2p244/restart?api-version=2021-06-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        ":method": "POST",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-scenario-test-recording/providers/Microsoft.SignalRService/SignalR/sw3iqp4fus2p244/operationStatuses/00000000-0000-0000-0000-000000000000?api-version=2021-06-01-preview",
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-scenario-test-recording/providers/Microsoft.SignalRService/SignalR/sw3iqp4fus2p244/operationResults/00000000-0000-0000-0000-000000000000?api-version=2021-06-01-preview",
        "x-ms-ratelimit-remaining-subscription-writes": "1196",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SignalRService/locations/eastus/usages?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11952",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SignalRService/locations/eastus/usages/FreeTierInstances",
            "currentValue": 0,
            "limit": 5,
            "name": {
              "value": "FreeTierInstances",
              "localizedValue": "Free Tier SignalR Instances per subscription"
            },
            "unit": "Count"
          },
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SignalRService/locations/eastus/usages/SignalRTotalUnits",
            "currentValue": 1,
            "limit": 150,
            "name": {
              "value": "SignalRTotalUnits",
              "localizedValue": "SignalRTotalUnits"
            },
            "unit": "Count"
          },
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SignalRService/locations/eastus/usages/WebPubSubFreeTierInstances",
            "currentValue": 0,
            "limit": 5,
            "name": {
              "value": "WebPubSubFreeTierInstances",
              "localizedValue": "WebPubSubFreeTierInstances"
            },
            "unit": "Count"
          },
          {
            "id": "/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SignalRService/locations/eastus/usages/WebPubSubTotalUnits",
            "currentValue": 0,
            "limit": 150,
            "name": {
              "value": "WebPubSubTotalUnits",
              "localizedValue": "WebPubSubTotalUnits"
            },
            "unit": "Count"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/go-scenario-test-recording/providers/Microsoft.SignalRService/signalR?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.SignalRService/signalR?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-read[...]
    {
      "RequestUri": "https://management.azure.com/providers/Microsoft.SignalRService/operations?api-version=2021-06-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        ":method": "GET",
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-tenant-reads": "11999",
        "x-rp-server-mvid": "00000000-0000-0000-0000-000000000000"
      },
      "ResponseBody": {
        "value": [
          {
            "name": "Microsoft.SignalRService/register/action",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.SignalRService",
              "resource": null,
              "operation": "Register Resource Provider Microsoft.SignalRService",
              "description": "Registers the \u0027Microsoft.SignalRService\u0027 resource provider with a subscription"
            },
            "properties": {}
          },
          {
            "name": "Microsoft.SignalRService/unregister/action",
            "isDataAction": false,
            "display": {
              "provider": "Microsoft.SignalRService",
              "resource": null,
              "operation": "Unregister Reso[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/go-scenario-test-recording?api-version=2021-04-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1HTzoyRFNDRU5BUklPOjJEVEVTVDoyRDIyNC1FQVNUVVMiLCJqb2JMb2NhdGlvbiI6ImVhc3R1cyJ9?api-version=2021-04-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14998"
      },
      "ResponseBody": null
    },
    {
[...]
