//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armfrontdoor

import (
	"context"
	"fmt"
	"net/http"

	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
)

// FrontDoorNameAvailabilityClient contains the methods for the FrontDoorNameAvailability group.
// Don't use this type directly, use NewFrontDoorNameAvailabilityClient() instead.
type FrontDoorNameAvailabilityClient struct {
	ep string
	pl runtime.Pipeline
}

// NewFrontDoorNameAvailabilityClient creates a new instance of FrontDoorNameAvailabilityClient with the specified values.
func NewFrontDoorNameAvailabilityClient(con *arm.Connection) *FrontDoorNameAvailabilityClient {
	return &FrontDoorNameAvailabilityClient{ep: con.Endpoint(), pl: con.NewPipeline(module, version)}
}

// Check - Check the availability of a Front Door resource name.
// If the operation fails it returns the *ErrorResponse error type.
func (client *FrontDoorNameAvailabilityClient) Check(ctx context.Context, checkFrontDoorNameAvailabilityInput CheckNameAvailabilityInput, options *FrontDoorNameAvailabilityCheckOptions) (FrontDoorNameAvailabilityCheckResponse, error) {
	req, err := client.checkCreateRequest(ctx, checkFrontDoorNameAvailabilityInput, options)
	if err != nil {
		return FrontDoorNameAvailabilityCheckResponse{}, err
	}
	resp, err := client.pl.Do(req)
	if err != nil {
		return FrontDoorNameAvailabilityCheckResponse{}, err
	}
	if !runtime.HasStatusCode(resp, http.StatusOK) {
		return FrontDoorNameAvailabilityCheckResponse{}, client.checkHandleError(resp)
	}
	return client.checkHandleResponse(resp)
}

// checkCreateRequest creates the Check request.
func (client *FrontDoorNameAvailabilityClient) checkCreateRequest(ctx context.Context, checkFrontDoorNameAvailabilityInput CheckNameAvailabilityInput, options *FrontDoorNameAvailabilityCheckOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.Network/checkFrontDoorNameAvailability"
	req, err := runtime.NewRequest(ctx, http.MethodPost, runtime.JoinPaths(client.ep, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2020-05-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, runtime.MarshalAsJSON(req, checkFrontDoorNameAvailabilityInput)
}

// checkHandleResponse handles the Check response.
func (client *FrontDoorNameAvailabilityClient) checkHandleResponse(resp *http.Response) (FrontDoorNameAvailabilityCheckResponse, error) {
	result := FrontDoorNameAvailabilityCheckResponse{RawResponse: resp}
	if err := runtime.UnmarshalAsJSON(resp, &result.CheckNameAvailabilityOutput); err != nil {
		return FrontDoorNameAvailabilityCheckResponse{}, err
	}
	return result, nil
}

// checkHandleError handles the Check error response.
func (client *FrontDoorNameAvailabilityClient) checkHandleError(resp *http.Response) error {
	body, err := runtime.Payload(resp)
	if err != nil {
		return runtime.NewResponseError(err, resp)
	}
	errType := ErrorResponse{raw: string(body)}
	if err := runtime.UnmarshalAsJSON(resp, &errType); err != nil {
		return runtime.NewResponseError(fmt.Errorf("%s\n%s", string(body), err), resp)
	}
	return runtime.NewResponseError(&errType, resp)
}
