//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armdevtestlabs

import (
	"context"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
)

// ProviderOperationsClient contains the methods for the ProviderOperations group.
// Don't use this type directly, use NewProviderOperationsClient() instead.
type ProviderOperationsClient struct {
	host string
	pl   runtime.Pipeline
}

// NewProviderOperationsClient creates a new instance of ProviderOperationsClient with the specified values.
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewProviderOperationsClient(credential azcore.TokenCredential, options *arm.ClientOptions) *ProviderOperationsClient {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := options.Endpoint
	if len(ep) == 0 {
		ep = arm.AzurePublicCloud
	}
	client := &ProviderOperationsClient{
		host: string(ep),
		pl:   armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options),
	}
	return client
}

// List - Result of the request to list REST API operations
// If the operation fails it returns an *azcore.ResponseError type.
// options - ProviderOperationsClientListOptions contains the optional parameters for the ProviderOperationsClient.List method.
func (client *ProviderOperationsClient) List(options *ProviderOperationsClientListOptions) *ProviderOperationsClientListPager {
	return &ProviderOperationsClientListPager{
		client: client,
		requester: func(ctx context.Context) (*policy.Request, error) {
			return client.listCreateRequest(ctx, options)
		},
		advancer: func(ctx context.Context, resp ProviderOperationsClientListResponse) (*policy.Request, error) {
			return runtime.NewRequest(ctx, http.MethodGet, *resp.ProviderOperationResult.NextLink)
		},
	}
}

// listCreateRequest creates the List request.
func (client *ProviderOperationsClient) listCreateRequest(ctx context.Context, options *ProviderOperationsClientListOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.DevTestLab/operations"
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2018-09-15")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *ProviderOperationsClient) listHandleResponse(resp *http.Response) (ProviderOperationsClientListResponse, error) {
	result := ProviderOperationsClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.ProviderOperationResult); err != nil {
		return ProviderOperationsClientListResponse{}, err
	}
	return result, nil
}
