//go:build go1.16
// +build go1.16

// Copyright (c) Microsoft Corporation. All rights reserved.
// Licensed under the MIT License. See License.txt in the project root for license information.
// Code generated by Microsoft (R) AutoRest Code Generator.
// Changes may cause incorrect behavior and will be lost if the code is regenerated.

package armstorSimple1200Series

import (
	"context"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/arm"
	armruntime "github.com/Azure/azure-sdk-for-go/sdk/azcore/arm/runtime"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/policy"
	"github.com/Azure/azure-sdk-for-go/sdk/azcore/runtime"
	"net/http"
)

// AvailableProviderOperationsClient contains the methods for the AvailableProviderOperations group.
// Don't use this type directly, use NewAvailableProviderOperationsClient() instead.
type AvailableProviderOperationsClient struct {
	host string
	pl   runtime.Pipeline
}

// NewAvailableProviderOperationsClient creates a new instance of AvailableProviderOperationsClient with the specified values.
// credential - used to authorize requests. Usually a credential from azidentity.
// options - pass nil to accept the default values.
func NewAvailableProviderOperationsClient(credential azcore.TokenCredential, options *arm.ClientOptions) *AvailableProviderOperationsClient {
	if options == nil {
		options = &arm.ClientOptions{}
	}
	ep := options.Endpoint
	if len(ep) == 0 {
		ep = arm.AzurePublicCloud
	}
	client := &AvailableProviderOperationsClient{
		host: string(ep),
		pl:   armruntime.NewPipeline(moduleName, moduleVersion, credential, runtime.PipelineOptions{}, options),
	}
	return client
}

// List - List of AvailableProviderOperations
// If the operation fails it returns an *azcore.ResponseError type.
// options - AvailableProviderOperationsClientListOptions contains the optional parameters for the AvailableProviderOperationsClient.List
// method.
func (client *AvailableProviderOperationsClient) List(options *AvailableProviderOperationsClientListOptions) *AvailableProviderOperationsClientListPager {
	return &AvailableProviderOperationsClientListPager{
		client: client,
		requester: func(ctx context.Context) (*policy.Request, error) {
			return client.listCreateRequest(ctx, options)
		},
		advancer: func(ctx context.Context, resp AvailableProviderOperationsClientListResponse) (*policy.Request, error) {
			return runtime.NewRequest(ctx, http.MethodGet, *resp.AvailableProviderOperations.NextLink)
		},
	}
}

// listCreateRequest creates the List request.
func (client *AvailableProviderOperationsClient) listCreateRequest(ctx context.Context, options *AvailableProviderOperationsClientListOptions) (*policy.Request, error) {
	urlPath := "/providers/Microsoft.StorSimple/operations"
	req, err := runtime.NewRequest(ctx, http.MethodGet, runtime.JoinPaths(client.host, urlPath))
	if err != nil {
		return nil, err
	}
	reqQP := req.Raw().URL.Query()
	reqQP.Set("api-version", "2016-10-01")
	req.Raw().URL.RawQuery = reqQP.Encode()
	req.Raw().Header.Set("Accept", "application/json")
	return req, nil
}

// listHandleResponse handles the List response.
func (client *AvailableProviderOperationsClient) listHandleResponse(resp *http.Response) (AvailableProviderOperationsClientListResponse, error) {
	result := AvailableProviderOperationsClientListResponse{}
	if err := runtime.UnmarshalAsJSON(resp, &result.AvailableProviderOperations); err != nil {
		return AvailableProviderOperationsClientListResponse{}, err
	}
	return result, nil
}
